{% extends 'main.html' %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <!--<img src="{% static 'img/main.css' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">-->
        <a class="navbar-brand" href="#page-top">iiitbONE</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Log out</a></li>
                
            </ul>
        </div>
    </div>
</nav>

<section class="background-radial-gradient">
    <style>
        .background-radial-gradient {
   
          background: linear-gradient(to bottom, rgba(143, 0, 246, 0.8) 0%, rgba(208, 143, 255, 0.8) 100%), url("../assets/img/bg-masthead.jpg");
           
        }
        a{
            text-decoration: none;
            color: inherit;
        }
        a:hover{
            text-decoration: none;
            color: inherit;
        }
    
        #radius-shape-1 {
          height: 220px;
          width: 220px;
          top: -60px;
          left: -130px;
          background: radial-gradient(#44006b, #ad1fff);
          overflow: hidden;
        }
    
        #radius-shape-2 {
          border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
          bottom: -60px;
          right: -110px;
          width: 300px;
          height: 300px;
          background: radial-gradient(#44006b, #ad1fff);
          overflow: hidden;
        }
    
        .bg-glass {
          background-color: hsla(0, 0%, 100%, 0.9) !important;
          backdrop-filter: saturate(200%) blur(25px);
        }
      </style>
     

        <div class="card bg-glass ">
          <div class="card-body mt-6 px-4 py-5 px-md-5">
            <form method="POST" action="">
              {% csrf_token %}
              <div class="form-floating mb-3">
                  <input class="form-control" id="title" name="name"type="text" placeholder="Enter your name..." data-sb-validations="required" />
                  <label >Full Name</label>
                  <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
              </div>
              <div class="form-floating mb-3">
                  <input class="form-control" id="title" name="username"type="text" placeholder="Enter your name..." data-sb-validations="required" />
                  <label >Roll Number</label>
                  <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
              </div>
              
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="form-floating mb-3">
                  <select class="form-select mt-3" aria-label="Default select example" name="csem" id="sem">
                      <option selected>Degree and Semester</option>
                      <option value="IMTech sem 1">IMTech sem 1</option>
                      <option value="IMTech sem 2">IMTech sem 2</option>
                      <option value="IMTech sem 3">IMTech sem 3</option>
                      <option value="IMTech sem 4">IMTech sem 4</option>
                      <option value="IMTech sem 5">IMTech sem 5</option>
                      <option value="IMTech sem 6">IMTech sem 6</option>
                      <option value="IMTech sem 7">IMTech sem 7</option>
                      <option value="IMTech sem 8">IMTech sem 8</option>
                      <option value="IMTech sem 9">IMTech sem 9</option>
                      <option value="IMTech sem 10">IMTech sem 10</option>

                      <option value="MTech sem 1">MTech sem 1</option>
                      <option value="MTech sem 2">MTech sem 2</option>
                      <option value="MTech sem 3">MTech sem 3</option>
                      <option value="MTech sem 4">MTech sem 4</option>

                      <option value="MS sem 1">MS sem 1</option>
                      <option value="MS sem 2">MS sem 2</option>
                      <option value="MS sem 3">MS sem 3</option>
                      <option value="MS sem 4">MS sem 4</option>
                  </select>
                  
<!--                    
                  <input class="form-control" id="sem" name="sem" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                  <label for="name">Semester</label>
                  <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>-->
              </div>

              <div class="form-floating mb-3">
                  <input class="form-control" id="title" name="password1"type="password" placeholder="Enter your name..." data-sb-validations="required" />
                  <label >Password</label>
                  <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
              </div>
              <div class="form-floating mb-3">
                  <input class="form-control" id="title" name="password2"type="password" placeholder="Enter your name..." data-sb-validations="required" />
                  <label >Confirm Password</label>
                  <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
              </div>
              <br><br><br>
              



              

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>

              <!-- Register buttons -->
              
            </form>
          </div>
        </div>
      
      

 
</section>
<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - Zense</div></div>
</footer>
{% endblock content %}